body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Imagenes/fondo.jpg_large');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
}
header {
    background-color: rgba(183, 44, 34, 0.8); /* Usamos rgba para transparencia */
    color: white;
    padding: 1em;
    text-align: center;
}
nav {
    background-color: rgba(51, 51, 51, 0.8); /* Usamos rgba para transparencia */
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
}
nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.8); /* Usamos rgba para transparencia */
}
.content {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    margin: 20px;
    border-radius: 10px;
}
footer {
    background-color: rgba(51, 51, 51, 0.8); /* Usamos rgba para transparencia */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

